TESLA_OAUTH2_CLIENT_ID=xxxxx
TESLA_OAUTH2_CLIENT_SECRET=xxxxx


## Can be generated using "npm run cmd:generate-refresh-token"
TESLA_OAUTH2_REFRESH_TOKEN=xxxx

TESLA_VIN=LRWYHXXXXXXXXX
TESLA_APP_DOMAIN=example.com
TESLA_TOKEN_FILE=.access-token

# Name of the private key used for authentication with Tesla API. 
# Not required if TESLA_KEY_FILE is provided.
TESLA_KEY_NAME=xxxx

# Path to the private key file. 
# This is optional if the key is stored in the default location (e.g., ~/.tesla-keys/). 
# Not required if TESLA_KEY_NAME is provided.
TESLA_KEY_FILE=/Users/xxxxx/tesla-private-key.pem


INFLUX_URL=http://localhost:8086
INFLUX_TOKEN=xxxxxxx
INFLUX_ORG=xxxxxx
INFLUX_BUCKET=xxxxxx


SENTRY_DSN=https://xxxxxxxx

ALPHA_ESS_API_APP_ID=xxx
ALPHA_ESS_API_APP_SECRET=xx
ALPHA_ESS_API_SYS_SN=xx